<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- following is the tag to accept the arguments from the command line -->
    <arg name="no_of_clouds" default="10" />

    <!-- Defining the node and executable and publishing the output on terminal-->
    <node name="point_clould_processing_node" pkg="point_clould_processing" type="point_clould_processing_node" output="screen">
        <!-- loading the parameters from yaml file during th runtime -->
        <rosparam command="load" file="$(find point_clould_processing)/config/point_clould_processing.yaml"/>
        <!-- storing the value of parameter in the variable -->
        <param name="no_of_clouds" value="$(arg no_of_clouds)" />
    </node>
</launch>